*{
    box-sizing: border-box;
}

html,body{
    height:100%;
    margin:0;
}

h1{
    font-size: 1cm;
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav { 
    margin-left: auto; 
} 

.navbar-brand{
    font-size: 40px;
    color: white;
}

nav{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.navbar{
    background-color: #abc4ff;
    color: white;
}
.nav-link{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.navbar-toggler-icon{
    background-color: lightgray;

}
label{
    font-family: 'Open Sans', sans-serif;;
    /* font-weight: */
}

.card-img-top{
    height:200px;
    width: 200px;
}

.container{
    background-color:rgb(221, 217, 217);
    color: black;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 20px;
}

.caption{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body{
    background-color: white;
}

.btn-primary{
    background-color: rgb(108, 133, 214);
    font-family: 'Open Sans', sans-serif;
}

.img-thumbnail{
    height: 385px;
    width: 300px;
}

.img-thumbnail1{
    padding: 15px;
   width: 275px;
   height: 250px;
}

#exampleInputMessage1{
    height:200px;
}

.fab, .fas{
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-phone{
    background: rgb(4, 165, 4);
    color: white;
}
.fa-github{
    background: rgb(218, 182, 24);
    color: white;
}
  

.contactInfo{
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

.click-project{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
  

.col-md-8{
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
}

.links{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
    border-radius: 7%;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
    width: 500px;
}


@media screen and (max-width:700px){
    /* .jumbotron, .jumbotron1, .jumbotron2, .content{ */
        /* width: 100%;
        height: 100%;
        margin-right: 15px;
    } */
    .navbar{
        width: 100%;
    }
    .img-thumbnail1{
        width: 90%;
    }
}