*{
    box-sizing: border-box;
}

html,body{
    height:100%;
    margin:0;
}

h1{
    font-size: 1cm;
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav { 
    margin-left: auto; 
} 

nav{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.navbar{
    background-color: #8e9aaf;
    color: white;
}
.nav-link{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.navbar-toggler-icon{
    background-color: lightgray;

}
label{
    font-family: 'Open Sans', sans-serif;;
    /* font-weight: */
}

.card-img-top{
    height:200px;
    width: 200px;
}

.container{
    background-color:white;
    color: black;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 20px;
}

.caption{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body{
    background-color: #dee2ff;
}

.btn-primary{
    background-color: rgb(108, 133, 214);
    font-family: 'Open Sans', sans-serif;
}

.img-thumbnail{
    height: 350px;
    width: 300px;
}

.img-thumbnail1{
    padding: 15px;
   width: 275px;
   height: 250px;
}

#exampleInputMessage1{
    height:200px;
}

.icon {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.contactInfo{
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

.click-project{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
  

.col-md-8{
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
}

.links{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
    border-color: rgb(153, 151, 151);
    border-style: solid;
    border-width: 0.3mm;
    border-radius: 2%;
    background-color:lightgrey;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
    width: 500px;
}


@media screen and (max-width:700px){
    /* .jumbotron, .jumbotron1, .jumbotron2, .content{ */
        /* width: 100%;
        height: 100%;
        margin-right: 15px;
    } */
    .navbar{
        width: 100%;
    }
    .img-thumbnail1{
        width: 90%;
    }
}