*{
    box-sizing: border-box;
}

html,body{
    height:100%;
    margin:0;
}

h1{
    font-size: 1cm;
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav { 
    margin-left: auto; 
} 

nav{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.navbar{
    background-color: rgb(182, 214, 255);
}

.nav-link{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
label{
    font-family: 'Open Sans', sans-serif;;
    font-weight:
}

.card-img-top{
    height:200px;
    width: 200px;
}

.jumbotron {
    width: 800px;
    height: 500px;
    padding: 15px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: white;
}

.jumbotron1{
    width: 900px;
    height: 500px;
    padding: 15px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: white;
    border-radius: 1%;
}
.jumbotron2{
    width: 800px;
    height: 580px;
    padding: 15px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: white;
    border-radius: 1%;
}

body{
    background-color: silver;
}

.btn-primary{
    background-color: rgb(108, 133, 214);
    font-family: 'Open Sans', sans-serif;
}

.img-thumbnail{
    height: 350px;
    width: 300px;
}

.img-thumbnail1{
    padding: 15px;
   width: 275px;
   height: 250px;
}

#exampleInputMessage1{
    height:200px;
}


.footer{
 /* position: sticky;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: rgba(0,0,0, 0.6);
  height: 40px;
}
.footer1{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0, 0.6);
  color:rgba(0,0,0, 0.6);
  text-align: center;
  height: 40px;
}

.col-md-8{
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
}

.links{
    font-size: larger;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 0.3mm;
    border-radius: 2%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 500px;
}


@media screen and (max-width:700px){
    .jumbotron, .jumbotron1, .jumbotron2, .content{
        width: 100%;
        height: 100%;
        margin-right: 15px;
    }
    .navbar{
        width: 100%;
    }
    .img-thumbnail1{
        width: 90%;
    }
}